{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>ImageColorApp</h1>
    <h2>処理準備</h2>
    <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data">
        <input type="file" id="image_file" name="image_file" accept="image/png, image/jpeg" required="required"><br />
        <input type="checkbox" id="remove_background" name="remove_background" /><label for="remove_background">無駄な背景を消す</label><br />
        <input type="checkbox" id="want_not_to_resize" name="want_not_to_resize"/><label for="want_not_to_resize">リサイズをしない</label>
        <br /><br />
        <select id="process" name="process">
            <option value="base-color">ベースカラー抽出</option>
            <option value="color-pallet">カラーパレット作成</option>
            <option value="nearest-base-color">近似ベースカラー抽出</option>
        </select>
        <br /><br />
        <input type="submit" value="プロセス開始">
    </form>
    <script src="{{ url_for('static', filename='javascript/dropdown.js') }}"></script>
</div>
{% endblock %}