{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>ImageColorApp</h1>
    <h2>ベースカラー</h2>
    <span style="color: {{ result.base.hex }};">■ {{ result.base.hex }} {{ result.base.rgb }}</span>  <input type="text" value={{ result.base.hex }} disabled /><br /><br />
    <h2>近似カラー</h2>
    <span style="color: {{ result.nearest.hex }};">■ {{ result.nearest.name }} {{ result.nearest.hex }} {{ result.nearest.rgb }}</span>  <input type="text" value={{ result.nearest.hex }} disabled />
</div>
{% endblock %}